# Dependencies
node_modules/
.pnpm-store/

# Next.js
apps/web/.next/
apps/web/out/

# NestJS / TypeScript build output
apps/api/dist/
dist/
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# Prisma
apps/api/prisma/*.db
apps/api/prisma/migrations/dev/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
